body
    {
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-size: auto;
        background-image: url("fnd.jpeg");
    }
.box1
    {         
        border: 2px solid grey;
        border-radius: 10px;
        gap: 20px;
        backdrop-filter: blur(10px);
        background-color: rgba(53, 42, 42, 0.3);
        width: 300px;
        height: 500px;
        margin: 30px;
    }
.botao
    {
        border-radius: 50px;
        border: 2px;
        margin: 10px;
    }
.botao button
    {
        transition: 0.4s;
        background-color: rgb(47, 42, 53);
        border-radius: 45px;
        width: 100px;
        height: 40px;
        border-color: rgb(98, 112, 105);
        border-style: hidden;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        cursor: pointer;
    }
.botao button:hover
    {
        transition: 0.2s;
        background-color: rgb(25, 21, 32);
        color: rgb(185, 183, 183);
        width: 120px;
        height: 48px;
        font-size: 100%;
    }
.box1 iframe
    {
        width: 280px;
        margin: 10px 5px;
        border-radius: 10px;
        
    }
