body
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-image: url("O4.jpeg");/*
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
    }
.box1
    {         
        border: 2px solid grey;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(53, 42, 42, 0.3);
        width: 300px;
        height: 500px;
        margin: 30px;
    }
.botao
    {
        border-radius: 50px;
        margin: 50px;
    }
.botao button
    {
        /*box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3)0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transition: 0.4s;
        background-color: rgb(47, 42, 53);
        border-radius: 45px;
        width: 100px;
        height: 40px;
        border-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
.botao button:hover
    {
        transition: 0.2s;
        background-color: rgb(25, 21, 32);
        color: rgb(185, 183, 183);
        width: 120px;
        height: 48px;
        font-size: 100%;
    }
.box1 iframe
    {
        box-shadow: rgb(73, 1, 1) 0px 20px 30px -10px;
        background: linear-gradient(150deg, rgb(139, 72, 72) 0%,rgb(0, 0, 0) 100%);
        width: 280px;
        padding-bottom: 20px;
        margin: 10px 5px;
        border-radius: 15px;
    }
.circle
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background: radial-gradient(circle, rgb(255, 255, 255) 0%,rgb(0, 0, 0) 100%);
        width: 150px;
        height: 50px ;
        border-radius:100px;
    }
.circle1
    {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    height: 52px;
    width: 150px;
    background-color: rgb(75, 69, 69);
    }
.circle1 input
{
    border: solid 1px rgb(41, 41, 68);
    border-radius: 45px;
    width: 140px;
    height: 50px;
    background: none;
    transition: 0.2s;
    backdrop-filter: blur(10px);
}
form
{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.circle1 input:hover
{
    width: 160px;
    padding: 10%;    
}
/*
.circle:hover
{   border: solid grey 2px;
    animation: 1s;
    background: none;
}*/
.box1 p
{
    color: rgb(255, 255, 255);
    border-radius:0px 0px 20px  ;
    width: 200px;
    height: 30px;
    background-color: rgb(42, 48, 53);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}